<a ng-href="#/">Main</a>&nbsp;|&nbsp;<a ng-href="#/project/{{projectId}}/{{projectTitle}}">Project:{{projectTitle}}</a>&nbsp;|&nbsp;
<a ng-href="#/project/{{projectId}}/{{projectTitle}}/assetcontainer/{{assetContainer.id}}/{{assetContainer.title}}"><b>Asset Container:{{assetContainer.title}}</b></a>
<hr>

<h3>{{assetContainerTitle}}</h3>

<div class="well well-lg">
  <div ta-bind ng-model="assetContainer.description">{{assetContainer.description}} </div>
</div>
<hr>
<i ng-click="isCollapsed = !isCollapsed" class="fa fa-plus-square"></i> 
<div collapse="!isCollapsed">
<form ng-submit="createAssetFunc()" role="form">
  <legend>Add Asset</legend>

  <div class="form-group">
    <label for="">Name</label>
    <input ng-model="assetName" type="text" class="form-control" id="" placeholder="Name your asset">

    <label for="">Link to asset</label>
	  <input ng-model="assetUrl" type="url" class="form-control" id="" placeholder="Link to your asset">

    <label for="">Description</label>
    <textarea ng-model="assetDescription" class="form-control" rows="5" placeholder="Describe your asset"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

<h4>Uploaded Assets</h4>
<div class="row">
  <div ng-repeat="asset in assetContainer.assets" class="col-md-2">
  <h4>
  <a ng-href="#/project/{{projectId}}/{{projectTitle}}/assetcontainer/{{assetContainerId}}/{{assetContainer.title}}/asset/{{asset.id}}/{{asset.title}}">{{asset.title}}</a>
  </h4>
  {{asset.description}}
  </div>
  <!--
	<div class="media">
	  <a class="media-left" href="#">
	  <img src="..." alt="...">
	  </a>
	  <div class="media-body">
	  <h4 class="media-heading">Asset</h4>
	    Text om asset Text om asset Text om asset Text om asset Text om asset Text om asset Text om asset Text om asset
	</div>
  -->
  
</div>