<form ng-submit="createProject()" role="form">
	<legend>Create Project</legend>

	<div class="form-group">
		<label for="">Project Name</label>
		<input ng-model="projectTitle" type="text" class="form-control" id="" placeholder="">
		<label for="">Description</label>
		<div text-angular ng-model="projectDescription"></div>
		<label for="">Tags</label>
	    <tags-input ng-model="projectTags"></tags-input>
		<label for="">Collaboration Policy</label>
		<select ng-init="projectSecurityPolicy = securityPolicyOptions[0]" ng-options="option for option in securityPolicyOptions" ng-model="projectSecurityPolicy" name="" id="input" class="form-control">
		</select>
		<!--
		<label for="">Project Image</label>
		<br>File (Image) Upload
		-->
	</div>

	<button type="submit" class="btn btn-primary">Create Project</button>
</form>

<!-- 		<option value="">Closed</option>
			<option value="">Open</option>
-->


<!--
<textarea ng-model="projectDescription" class="form-control" rows="5" placeholder="" id="projectDescriptionBox"></textarea>
-->