<div class="row">
  <div class="col-md-6">
    <h3>{{project.title}} (direct editable?)</h3>
    <button ng-click="removeProjectDialog()" type="button" class="btn btn-danger">Remove Project</button>
    <button ng-click="addAssetContainerDialog()" type="button" class="btn btn-success">Add Asset</button>
    <button ng-click="addOwnerToProjectDialog()" type="button" class="btn btn-success">Add Owner</button>
    <div text-angular ng-model="project.description"></div>
    <button ng-click="updateProjectDescriptionFunc()" type="button" class="btn btn-warning">Update description</button>
    <br>
  </div>
  <div class="col-md-6">
    <div class="row">
    <div class="col-md-4">
      <h3>Activities</h3>
      <ul>
        <li ng-repeat="activity in project.activities">
        {{activity.creationDate | date:'medium'}}:<br><i>{{activity.message}}</i>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
     <h3>Assets</h3>
      <ul>
        <li ng-repeat="assetcontainer in project.assetContainers">
          <a ng-href="#project/{{project.id}}/{{project.id}}/assetcontainer/{{assetcontainer.id}}/{{assetcontainer.title}}">{{assetcontainer.title}}</a>
            <ul>
            <li ng-repeat="asset in assetcontainer.assets">
              <a ng-href="#project/{{project.id}}/{{project.id}}/assetcontainer/{{assetcontainer.id}}/{{assetcontainer.title}}/asset/{{asset.id}}/{{asset.title}}">{{asset.title}}</a>
            </li>
            </ul>
        </li>
      </ul>     
    </div>
    <div class="col-md-4">
      <h3>Owners</h3>
      <ul>
        <li ng-repeat="owner in project.owners">
        <a ng-href="#/profile/{{owner.id}}/{{owner.username}}">{{owner.username}}
        </li>
      </ul>      
    </div>
  </div>
</div>