<h3>{{project.title}}</h3>
<button ng-click="removeProjectFunc()" type="button" class="btn btn-danger">Remove Project</button>
<div text-angular ng-model="project.description"></div>
<button ng-click="updateProjectDescriptionFunc()" type="button" class="btn btn-warning">Update description</button>
<br>
<form ng-submit="createAssetContainerFunc()" role="form">
  <legend>Add Asset Container</legend>

  <div class="form-group">
    <label for="">Name</label>
    <input ng-model="assetContainerName" type="text" class="form-control" id="" placeholder="Input field">
    <label for="">Description</label>
    <div text-angular ng-model="assetContainerDescription"></div>
    <label for="">Category</label>
    <select ng-init="projectAssetContainerCategory = assetContainerCategoryOptions[0]" ng-options="option for option in assetContainerCategoryOptions" ng-model="projectAssetContainerCategory" name="" id="input" class="form-control">

	</select>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<h3>Contributions</h3>
Loopa igenom asset containers, samt deras assets.<br>
Markera assets som accepterade här?
