<p> Formulär för att regga: Create new Account</p>
<p>Already have a facebook account?: Sign up with Facebook</p>

<form ng-submit="register()" role="form">
	<legend>Sign Up</legend>

	<div class="form-group">
		<label for="">E-mail</label>
		<input ng-model="email" type="email" name="" id="input" class="form-control" value="" required="required" title="">
		<label for="">Password</label>
		<input ng-model="password" type="password" name="" id="input" class="form-control" required="required" title="">
		<label for="">Full Name</label>
		<input ng-model="fullname" type="text" class="form-control" required="required">
	</div>
	<button type="submit" class="btn btn-primary">Register</button>
</form>